/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

p {
  margin-bottom: 20px;
  color: #666;
  font-size: 14px;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.options label {
  font-size: 14px;
  color: #333;
}

.forgot-password {
  color: #6e46ff;
  font-size: 14px;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.sign-in-btn {
  background-color: #6e46ff;
  color: white;
  font-weight: bold;
}

.sign-in-btn:hover {
  background-color: #5531cc;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #666;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.social-login {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.social-login .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 10px 20px;
  width: 48%; /* Ajuste de los botones para que ocupen menos espacio */
  border: 1px solid #ccc;
  background-color: white;
}

.google-btn:hover,
.outlook-btn:hover {
  background-color: #f5f5f5;
}

.signup-text {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}

.signup-text a {
  color: #6e46ff;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
